build
build_cache
src/system/kernel/Version.cc
src/system/kernel/TAGS
options.cache
.sconsign.dblite
compilers/dir
scripts/*.pyc
images/local/*
Debug
Release
compilers*
docs/doxygen/*
*.sln
*.suo
*.vcproj*
*.ncb
images/x86/games/dos
tmp
.easy_os
pedigree-compiler
.DS_Store
*.pyc
scripts/pup/pup.conf
*.obj
*.swp
