build
build_cache
src/system/kernel/Version.cc
src/system/kernel/TAGS
options.cache
.sconsign.dblite
compilers/dir
scripts/*.pyc
images/local/*
Debug
Release
compilers*
docs/doxygen/*
*.sln
*.suo
*.vcproj*
*.ncb