*.iso
*.ncb
*.obj
*.orig.tar.bz2
*.pyc
*.sln
*.sublime-workspace
*.suo
*.swp
*.vcproj*
.autogen.cache
.DS_Store
.easy_os
.sconsign.dblite
.tags
build
build-etc/travis-compilers/compilers
build-etc/travis-compilers/debian/travis-compilers
build-etc/travis-compilers/pedigree-compiler
build-etc/travis-compilers/scripts
build-etc/travis-compilers_*
build_cache
compilers*
compilers/dir
Debug
docs/doxygen/*
images/local*
images/local/*
images/x86/games/dos
options.cache
pedigree-compiler
Release
scripts/*.pyc
scripts/pup.whl
scripts/pup/pup.conf
serial[0-9]*.log
src/subsys/posix/include/c++
src/system/kernel/TAGS
src/system/kernel/Version.cc
tmp
coverage/
.pup-version
